:root {
  --color-logo: #4d5ae5;
  --color-section1: #2e2f42;
  --color-footer: #f4f4fd;
  --color-paragraph: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}
.logo-header {
  color: #2e2f42;
}

.first-link:hover {
  color: #404bbf;
}

.first-link:focus {
  color: #404bbf;
}

.first-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-one {
  background-color: #ffffff;
}

.address {
  font-style: normal;
}

.heading-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.span {
  color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  color: var(--color-footer);
  letter-spacing: 0.02em;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover {
  color: #404bbf;
}

.contact-link:focus {
  color: #404bbf;
}

.filter-button :hover .filter-button :focus {
  background-color: var(--color-example);
}

.section-one {
  background-color: var(--color-section1);
}

.section-three {
  background-color: #f4f4fd;
}

.heading-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.heading-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heading-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.heading-five {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.heading-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-section1);
}

.paragraph-one {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraph-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.paragraph-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
}

.product-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.product-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:focus {
  background-color: #404bbf;
}

.button:hover {
  background-color: #404bbf;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-footer);
  cursor: pointer;
}

.filter-button:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  color: var(--CLOUD, #f4f4fd);
}
